/*
HTML5 Meter polyfill | Jonathan Stipe | https://github.com/jonstipe/meter-polyfill
*/

@mixin gradient($start, $highlight, $end) {
  background: $start; /* Old browsers */
  background: -moz-linear-gradient(top, $start 0%, $highlight 35%, $end 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start), color-stop(35%, $highlight), color-stop(100%, $end)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $start 0%, $highlight 35%, $end 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $start 0%, $highlight 35%, $end 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $start 0%, $highlight 35%, $end 100%); /* IE10+ */
  background: linear-gradient(to bottom, $start 0%, $highlight 35%, $end 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start)}', endColorstr='#{ie-hex-str($end)}', GradientType=0); /* IE6-9 */
}

@mixin gradient2($start, $highlight, $end) {
  background: $start; /* Old browsers */
  background: -moz-linear-gradient(top, $start 0%, $highlight 65%, $end 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start), color-stop(65%, $highlight), color-stop(100%, $end)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $start 0%, $highlight 65%, $end 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $start 0%, $highlight 65%, $end 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $start 0%, $highlight 65%, $end 100%); /* IE10+ */
  background: linear-gradient(to bottom, $start 0%, $highlight 65%, $end 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start)}', endColorstr='#{ie-hex-str($end)}', GradientType=0); /* IE6-9 */
}

meter {
  div.meter-frame {
    height: 1em;
    width: 100%;
    padding: 2px;
    border: 1px solid black;
    background-color: white;
    @include gradient2(#999999, #555555, #CCCCCC);
  }
  
  div.meter-bar {
    height: 1em;
    border: none;
    background-color: #009900;
    @include gradient(#009900, #00FF00, #003300);
  
    &.meter-low {
      border: none;
      background-color: #0000FF;
      @include gradient(#0000FF, #6699FF, #000066);
    }
    
    &.meter-high {
      border: none;
      background-color: #FF0000;
      @include gradient(#990000, #FF0000, #330000);
    }
    
    &.meter-optimal {
      border: none;
      background-color: #FFFF00;
      @include gradient(#CCCC00, #FFFF00, #333300);
    }
  }
}